<h2>Artists of Symmetrical Records</h2>
<ul class="artist_list">
    <li>
        <div class="picture">
            <%= link_to image_tag("artists/dep.png"), dep_url %>
        </div>
        <div class="bio">
            <h3><%= link_to "dep", dep_url %></a></h3>
            <p>dep is the solo project of "bedroom producer" Danny Peck. His
            compositions run the gamut from film score to electronica to ambient to electro-pop,
            blending digital/analogue sounds, lush instrumentations and field recordings. Each year
            he pushes his own envelope with his experimentations within electronica.</p>
            <p>
                <strong>dep's next album is nearing completion and should be out shortly</strong>!
            </p>
        </div>
    </li>
    <li>
        <div class="picture">
            <%= link_to image_tag("artists/thenightlights.png"), thenightlights_url %>
        </div>
        <div class="bio">
            <h3><%= link_to "The Night Lights", thenightlights_url %></a></h3>
            <p>
                The Night Lights' sound consists of sequenced beats, keys, vocals, and
                manipulations of other analog gadgetry, in equal parts with sweeping
                fx-driven guitar, electric bass, and airy vocals.</p>
            </p>
            <p>
                <strong>The Night Lights are back in the studio working on their 2nd album</strong>!
            </p>
        </div>
    </li>
    <li>
        <div class="picture">
            <%= link_to image_tag("artists/da_pacem.jpg"), da_pacem_url %>
        </div>
        <div class="bio">
            <h3><%= link_to "Da Pacem", da_pacem_url %></a></h3>
            <p>
                One of the newest additions to the Symmetrical Records family is Omaha,
                NE's Aaron Hansen who produces delicately textured ambient landscapes
                under the moniker Da Pacem. He released his debut album, Clange
                Mysticum, on October 1st, 2013.
            </p>
            <p>
                <strong>Da Pacem's <%= link_to "debut album", da_pacem_url %> was released October 1, 2013!</strong>
            </p>
        </div>
    </li>
    <li>
        <div class="picture">
            <%= link_to image_tag("artists/ben_steed.jpg"), ben_steed_url %>
        </div>
        <div class="bio">
            <h3><%= link_to "Ben Steed", ben_steed_url %></a></h3>
            <p>
                Hailing from Lincoln, Britain is producer and composer Ben Steed. We've
                been a huge fan of Ben's gently textured and inspired compositions for
                several years now, so obviously we were very excited when he chose to join
                the Symmetrical Records family.
            </p>
            <p>
                <strong>Ben's next album is nearing completion and should be out shortly</strong>!
            </p>
        </div>
    </li>
    <li>
        <div class="picture">
            <%= link_to image_tag("artists/gimu.jpg"), gimu_url %>
        </div>
        <div class="bio">
            <h3><%= link_to "Gimu", gimu_url %></a></h3>
            <p>
                Brazil's Gimu has an impressive ambient range that must be heard to be believed. His drone/ambient
                compositions keep us coming back for more and has become our go-to rainy day
                music backdrop.
            </p>
            <p>
                <strong>Gimu's debut album is being released very soon!</strong>
            </p>
        </div>
    </li>
    <li>
        <div class="picture">
            <%= link_to image_tag("artists/lucho.jpg"), lucho_url %>
        </div>
        <div class="bio">
            <h3><%= link_to "Lucho Ripley", lucho_url %></a></h3>
            <p>
                From Spain is Lucho Ripley. Sit back and relax as Lucho's intricately layered guitar washed over you.
                His melodic soundscapes are varied and lush, packed with thoughtful chord progressions and gorgeous
                reverb tails.  For us, his music inspires visions of vast landscapes, and we're consistently in awe
                as his songs evolve, gaining more and more layers and complexity.
            </p>
            <p>
                <strong>Lucho Ripley's debut album is being released very soon!</strong>
            </p>
        </div>
    </li>
    <li>
        <div class="picture">
            <img width="300" height="200" src="/images/artists/you.png" />
        </div>
        <div class="bio">
            <h3>Imagine your name here</h3>
            <p>That's right. You. We're looking for the best hidden electronica talent out there, so if you produce your stuff and you are looking for new ways to reach new audiences, then this is the opportunity for you. Don't hesitate to join our family.</p>
            <p>Read about what we're all about at our <a href="/pages/about">about</a> page and then <a href="/pages/contact">contact us</a> to take the first step forward.</p>
        </div>
    </li>
</ul>
