<h2>Artists of Symmetrical Records</h2>
<ul class="artist_list">
  <li>
    <div class="picture">
      <%= link_to image_tag("artists/dep.png"), dep_url %>
    </div>
    <div class="bio">
      <h3><%= link_to "dep", dep_url %></a></h3>
      <p>dep is the solo project of "bedroom producer" Danny Peck. His compositions are a hybrid somehwere between film score and electronica -- with digital/analogue sounds, lush instrumentations and field recordings wrapped up in to melodic explorations in electronica.</p>
      <p>Danny Peck has been releasing music under the alias "dep" since roughly 2005, but has maintained a keen interest in song-writing and recording since 1994.</p>
    </div>
  </li>
  <li>
    <div class="picture">
      <%= link_to image_tag("artists/thenightlights.png"), thenightlights_url %>
    </div>
    <div class="bio">
      <h3><%= link_to "The Night Lights", thenightlights_url %></a></h3>
      <p>
        The Night Lights' sound consists of sequenced beats, keys, vocals, and manipulations of other analog gadgetry, in equal parts with sweeping fx-driven guitar, electric bass, and airy vocals.</p>
      </p>
    </div>
  </li>
  <li>
    <div class="picture">
      <%= link_to image_tag("artists/da_pacem.jpg"), da_pacem_url %>
    </div>
    <div class="bio">
      <h3><%= link_to "Da Pacem", da_pacem_url %></a></h3>
      <p>
        The newest addition to the Symmetrical Records is Omaha, NE's Aaron Hansen who produces delicately textured ambient landscapes under the moniker Da Pacem. He is currently at work writing his debut album to be released under the Symmetrical Records label. In the meantime, check out <a href="http://soundcloud.com/da_pacem">some of his tracks at soundcloud</a>.
      </p>
    </div>
  </li>
  <li>
    <div class="picture">
      <img width="300" height="200" src="/images/artists/you.png" />
    </div>
    <div class="bio">
      <h3>Imagine your band name here</h3>
      <p>That's right. You. We're looking for the best hidden electronica talent out there, so if you produce your stuff and you are looking for new ways to reach new audiences, then this is the opportunity for you. Don't hesitate to join our family.</p>
      <p>Read about what we're all about at our <a href="/pages/about">about</a> page and then <a href="/pages/contact">contact us</a> to take the first step forward.</p>
    </div>
  </li>
</ul>
